.w-100 {max-width: 100% !important;}
.w-90 {max-width: 90% !important;}
.w-80 {max-width: 80% !important;}
.w-70 {max-width: 70% !important;}
.w-60 {max-width: 60% !important;}
.w-50 {max-width: 50% !important;}
.w-40 {max-width: 40% !important;}
.w-30 {max-width: 30% !important;}
.w-20 {max-width: 20% !important;}
.w-10 {max-width: 10% !important;}

@media (min-width: 576px) {
  .w-sm-100 {max-width: 100% !important;}
  .w-sm-90 {max-width: 90% !important;}
  .w-sm-80 {max-width: 80% !important;}
  .w-sm-70 {max-width: 70% !important;}
  .w-sm-60 {max-width: 60% !important;}
  .w-sm-50 {max-width: 50% !important;}
  .w-sm-40 {max-width: 40% !important;}
  .w-sm-30 {max-width: 30% !important;}
  .w-sm-20 {max-width: 20% !important;}
  .w-sm-10 {max-width: 10% !important;}

}
@media (min-width: 768px){
  .w-md-100 {max-width: 100% !important;}
  .w-md-90 {max-width: 90% !important;}
  .w-md-80 {max-width: 80% !important;}
  .w-md-70 {max-width: 70% !important;}
  .w-md-60 {max-width: 60% !important;}
  .w-md-50 {max-width: 50% !important;}
  .w-md-40 {max-width: 40% !important;}
  .w-md-30 {max-width: 30% !important;}
  .w-md-20 {max-width: 20% !important;}
  .w-md-10 {max-width: 10% !important;}
}
@media (min-width: 992px){
  .w-lg-100 {max-width: 100% !important;}
  .w-lg-90 {max-width: 90% !important;}
  .w-lg-80 {max-width: 80% !important;}
  .w-lg-70 {max-width: 70% !important;}
  .w-lg-60 {max-width: 60% !important;}
  .w-lg-50 {max-width: 50% !important;}
  .w-lg-40 {max-width: 40% !important;}
  .w-lg-30 {max-width: 30% !important;}
  .w-lg-20 {max-width: 20% !important;}
  .w-lg-10 {max-width: 10% !important;}
}
@media (min-width: 1200px){
  .w-xl-100 {max-width: 100% !important;}
  .w-xl-90 {max-width: 90% !important;}
  .w-xl-80 {max-width: 80% !important;}
  .w-xl-70 {max-width: 70% !important;}
  .w-xl-60 {max-width: 60% !important;}
  .w-xl-50 {max-width: 50% !important;}
  .w-xl-40 {max-width: 40% !important;}
  .w-xl-30 {max-width: 30% !important;}
  .w-xl-20 {max-width: 20% !important;}
  .w-xl-10 {max-width: 10% !important;}
}
@media (min-width: 1500px) {
  .w-xxl-90 {max-width: 90% !important;}
  .w-xxl-100 {max-width: 100% !important;}
  .w-xxl-80 {max-width: 80% !important;}
  .w-xxl-70 {max-width: 70% !important;}
  .w-xxl-60 {max-width: 60% !important;}
  .w-xxl-50 {max-width: 50% !important;}
  .w-xxl-40 {max-width: 40% !important;}
  .w-xxl-30 {max-width: 30% !important;}
  .w-xxl-20 {max-width: 20% !important;}
  .w-xxl-10 {max-width: 10% !important;}
}
